.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    margin-bottom: 20px;
    height: 100%;
}

.pdf_viewer {
    width: 70%;
    height: auto;
    /* overflow: auto;F */
    /* border: 1px solid gray; */
    margin: 0;
    display: flex;
    justify-content: center;
}

.sign {
    background-color: #15049e;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
}

.signature_div {
    font-size: 18px;
    font-weight: 500;
}

.Clear {
    background-color: #15049e;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 5px;
}

.canvas_container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
}

.signature_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: 0 auto !important;
    width: 100%;
    flex-direction: column;

}

.Save {
    background-color: #15049e;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 5px;

}

.canvas_main_div {
    display: flex;
    width: 30%;
    margin-bottom: 20px;
    margin: 40px 0;
    padding: 0 15px;
    position: sticky;
    top: 80px;

}



.viewpdf {
    /* margin-top: 20px; */
    width: 100%;
    display: flex;
    /* height: 50px; */
    justify-content: space-between;
    flex-direction: column;


}

.Viewbtn a {
    color: white;
    text-decoration: none;
}

.Viewbtn {
    background-color: #15049e;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.SubmitSign {
    background-color: #15049e;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 15px;
}

.SubmitSign,
.Finish,
.DownlaodPdf,
.sign.Save,
:hover {
    cursor: pointer;
}

.close {
    margin-left: 300px;
    /* position: absolute; */
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.DownlaodPdf {
    background-color: #15049e;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
}

.DownlaodPdf a {
    color: white;
    text-decoration: none;
}

.Finish {
    background-color: #15049e;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
}

.modal_button_div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.modal_button {
    display: flex;
    justify-content: space-around;
    width: 80%;

    margin-top: 50px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal_content {
    width: 50%;
    height: 60%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.CloseButtonDiv {
    width: 100%;
    display: flex;
    justify-content: end;

}

.Content_doc {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 24px;
}

.modal_content button {
    margin-top: 10px;
}

.container_main_div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.canvas {
    border: 1px solid #888;
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
}

.pagesdetail {
    width: 100%;
}

@media(max-width:991px) {
    .container_main_div {
        flex-direction: column;
    }

    .pdf_viewer {
        width: 100%;
    }

    .canvas_main_div {
        width: 100%;
    }
}